* {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

/* button, input, textarea, select {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font: inherit;
} */

/* .container {
  background-color: #0087BE;

  max-width: 40rem;
  width: 100%;

  border-radius: 0.8rem;
  padding: 2rem;
} */

/* .todo-list-page {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  background-color: #023341;
} */

/* .input-wrapper {
  position: relative;
  display: flex;
  border: 2px solid #023341;
  border-radius: 0.4rem;
  padding: 0.3rem;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 1.5rem;
} */

.input-wrapper input[placeholder="Skriv en uppgift"] {
  color: #023341;
  font-size: 1rem;
}

.input-wrapper input {
  width: 100%;
  padding-right: 10rem;
}

.taskCompleted {
  text-decoration: line-through;
  opacity: 0.4;
}


.uppgifter {
  display: flex;
  flex-direction: column;
}

.uppgifter li {
  display: flex;
  justify-content: space-between;
}


/* BUTTONS START*/

/* .input-wrapper .btn-add {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #023341;
  color: #ffffff;
  padding: 0.5rem 3rem;
  border: none;
  font-size: 0.8rem;
}

.btn-add:hover {
  background-color: #083b4b;
} */

/* BUTTONS END*/