dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# Frontend


# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# Backend (.NET)
backend/**/bin/
backend/**/obj/
backend/**/.vs/
backend/**/*.csproj.user