@import "tailwindcss";

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}

@layer base {
  button {
    @apply focus:outline-2 focus:outline-offset-1 focus:outline-[#023341] focus:rounded-sm;
  }
  input[type="checkbox"] {
    @apply focus:outline-2 focus:outline-offset-0 focus:outline-[#023341] focus:rounded-md;
  }
  input[type="text"] {
    @apply focus:outline-2 focus:outline-offset-1 focus:outline-[#023341] focus:rounded-sm;
  }
} 